.blackMenu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    font-family: 'Light';
    background-color: black;
    padding: 76px 43px;
    z-index: 9999;
}

.uslugi {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.blackMenu > ul {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
}

.new-menu {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.new-menu a {
    color: #7A7A7A !important;
}

.x {
    position: absolute;
    top: 19px;
    right: 25px;
    cursor: pointer;
    width: 15px;
}

.uslugi > img {
    position: absolute;
    top: 96px;
    left: 0px;
}

.last {
    font-size: 20px;
    line-height: 40px;
    color: white;
    font-weight: 200;
}

.last li:hover {
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

.new-menu > li:hover {
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

.i-fb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 450px;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.i-fb > div > img:nth-of-type(1) {
    height: 18px;
}

.i-fb > div > img:hover {
    cursor: pointer;
    opacity: .5;
}